{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block content %}
    <div class="container">
        <form method="post">{% csrf_token %}
            <div class="d-flex justify-content-between mt-4">
                <h1 class="mt-3">Schema</h1>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>

            {% bootstrap_form form %}


            <h2 class="mt-3">Schema columns</h2>
            {{ columns.management_form }}
            <div id='form_set'>
                {% for column in columns %}
                    <div class="form-inline d-flex">
                        {% bootstrap_form column show_label=0 field_class='p-1' %}
                    </div>
                {% endfor %}
            </div>
            <div id="empty_form" class="d-none">
                <div class="form-inline d-flex">
                    {% bootstrap_form columns.empty_form show_label=0 field_class='p-1' %}
                </div>
            </div>
            <button type="button" class="btn btn-primary mt-3" id=add_column>Add column</button>
        </form>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static "js/script.js" %}"></script>
{% endblock %}
